@tailwind base;
@tailwind components;
@tailwind utilities;

.Header {
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
}
.SubHeader {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
}
.Intro {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: rgb(8, 87, 83);
  position: relative; top:10px;
}
.Button {
  padding: 30px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.616);
}
.bText {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: rgb(0, 0, 0);
}
.bTexts {
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  color: rgb(0, 0, 0);
}
body {
  background-image: linear-gradient(rgb(142, 231, 253), rgba(0, 68, 255, 0.5));
}
